<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pierwsza aplikacja</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>
            <span style="color: #663399; ">
                Witaj, <span th:text="${name} + ' ' + ${lastname}"></span>
                       <span th:text="${lastname}"></span>
                       <span th:text="${names.get(0)}"></span>
            </span>
        </h1>
    </div>
</body>
</html>